<link rel="stylesheet" href="/css/aside.css">
<div class="aside-content">
    <div class="original-author">
        <div class="original-author-title">
            <span>优秀原创作者</span>
        </div>
        <ul class="list-group original-author-list" style="margin-bottom: 15px">
            <li class="list-group-item clearfix">
                <div class="pull-left original-author-head">
                    <img class="img-circle" src="/images/head_small1.jpg" alt="">
                </div>
                <div class="pull-left original-author-info">
                    <h5>姚海洋</h5>
                    <p>简介简介</p>
                </div>
            </li>
            <li class="list-group-item clearfix">
                <div class="pull-left original-author-head">
                    <img class="img-circle" src="/images/head_small1.jpg" alt="">
                </div>
                <div class="pull-left original-author-info">
                    <h5>姚海洋</h5>
                    <p>简介简介</p>
                </div>
            </li>
            <li class="list-group-item clearfix">
                <div class="pull-left original-author-head">
                    <img class="img-circle" src="/images/head_small1.jpg" alt="">
                </div>
                <div class="pull-left original-author-info">
                    <h5>姚海洋</h5>
                    <p>简介简介</p>
                </div>
            </li>
            <li class="list-group-item clearfix">
                <div class="pull-left original-author-head">
                    <img class="img-circle" src="/images/head_small1.jpg" alt="">
                </div>
                <div class="pull-left original-author-info">
                    <h5>姚海洋</h5>
                    <p>简介简介</p>
                </div>
            </li>
            <li class="list-group-item clearfix">
                <div class="pull-left original-author-head">
                    <img class="img-circle" src="/images/head_small1.jpg" alt="">
                </div>
                <div class="pull-left original-author-info">
                    <h5>姚海洋</h5>
                    <p>简介简介</p>
                </div>
            </li>
        </ul>
    </div>
    <%- include adve.ejs %>
    <%- include links.ejs %>
</div>
