<link rel="stylesheet" href="/css/aside.css">
<div class="aside-content">
    <div>
        <img src="/images/aside/ad1.jpg" alt="" style="width: 100%">
    </div>
    <div class="original-author">
        <div class="original-author-title">
            <span>优秀原创作者</span>
        </div>
        <ul class="list-group original-author-list">
            <li class="list-group-item clearfix">
                <div class="pull-left original-author-head">
                    <img class="img-circle" src="/images/head_small1.jpg" alt="">
                </div>
                <div class="pull-left original-author-info">
                    <h5>姚海洋</h5>
                    <p>简介简介</p>
                </div>
            </li>
            <li class="list-group-item clearfix">
                <div class="pull-left original-author-head">
                    <img class="img-circle" src="/images/head_small1.jpg" alt="">
                </div>
                <div class="pull-left original-author-info">
                    <h5>姚海洋</h5>
                    <p>简介简介</p>
                </div>
            </li>
            <li class="list-group-item clearfix">
                <div class="pull-left original-author-head">
                    <img class="img-circle" src="/images/head_small1.jpg" alt="">
                </div>
                <div class="pull-left original-author-info">
                    <h5>姚海洋</h5>
                    <p>简介简介</p>
                </div>
            </li>
            <li class="list-group-item clearfix">
                <div class="pull-left original-author-head">
                    <img class="img-circle" src="/images/head_small1.jpg" alt="">
                </div>
                <div class="pull-left original-author-info">
                    <h5>姚海洋</h5>
                    <p>简介简介</p>
                </div>
            </li>
            <li class="list-group-item clearfix">
                <div class="pull-left original-author-head">
                    <img class="img-circle" src="/images/head_small1.jpg" alt="">
                </div>
                <div class="pull-left original-author-info">
                    <h5>姚海洋</h5>
                    <p>简介简介</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="footer-content">
        <div class="concern-us">
            <p>友情链接</p>
            <ul class="list-inline concern-list">
                <li>
                    <a href="http://www.mwyking.com" target="_blank"><img src="http://www.mwyking.com/logo/lang-pictureslogo.png" alt="长图"></a>
                </li>
                <li>
                    <a href="http://www.mwyking.com:801" target="_blank"><img src="http://www.mwyking.com/logo/music-logo.png" alt="听见好声音"></a>
                </li>
                <li>
                    <a href="http://www.mwyking.com:803" target="_blank"><img src="http://www.mwyking.com/logo/game-logo.svg" alt="游戏中心"></a>
                </li>
                <li>
                    <a href="http://www.mwyking.com:804" target="_blank"><img src="http://www.mwyking.com/logo/chat-logo.png" alt="聊天"></a>
                </li>
            </ul>
        </div>
        <div class="foot-content-bottom">
            <div class="pull-right foot-content-right">
                <a class="scan-log" href="#"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>点击扫码登录</a>
                <div class="web-code-div">
                    <img src="/images/web_code.svg" alt="加载失败">
                </div>
            </div>
            <p>&copy;2017 by 姚海洋</p>
        </div>
    </div>
</div>
