<link rel="stylesheet" href="/css/aside.css">
<div class="aside-content">
    <div>
        <img src="/images/aside/ad1.jpg" alt="" style="width: 100%">
    </div>
    <div class="original-author">
        <div class="original-author-title">
            <span>优秀原创作者</span>
        </div>
        <ul class="list-group original-author-list">
            <li class="list-group-item clearfix">
                <div class="pull-left original-author-head">
                    <img class="img-circle" src="/images/head_small1.jpg" alt="">
                </div>
                <div class="pull-left original-author-info">
                    <h5>姚海洋</h5>
                    <p>简介简介</p>
                </div>
            </li>
            <li class="list-group-item clearfix">
                <div class="pull-left original-author-head">
                    <img class="img-circle" src="/images/head_small1.jpg" alt="">
                </div>
                <div class="pull-left original-author-info">
                    <h5>姚海洋</h5>
                    <p>简介简介</p>
                </div>
            </li>
            <li class="list-group-item clearfix">
                <div class="pull-left original-author-head">
                    <img class="img-circle" src="/images/head_small1.jpg" alt="">
                </div>
                <div class="pull-left original-author-info">
                    <h5>姚海洋</h5>
                    <p>简介简介</p>
                </div>
            </li>
            <li class="list-group-item clearfix">
                <div class="pull-left original-author-head">
                    <img class="img-circle" src="/images/head_small1.jpg" alt="">
                </div>
                <div class="pull-left original-author-info">
                    <h5>姚海洋</h5>
                    <p>简介简介</p>
                </div>
            </li>
            <li class="list-group-item clearfix">
                <div class="pull-left original-author-head">
                    <img class="img-circle" src="/images/head_small1.jpg" alt="">
                </div>
                <div class="pull-left original-author-info">
                    <h5>姚海洋</h5>
                    <p>简介简介</p>
                </div>
            </li>
        </ul>
    </div>

    <div>
        <img src="/images/aside/ad2.jpg" alt="" style="width: 100%">
    </div>

    <div class="footer-content">
        <div class="concern-us">
            <p>关注我们</p>
            <ul class="list-inline concern-list">
                <li>
                    <a href=""><img data-v-f6862670="" src="//gold-cdn.xitu.io/v3/static/img/weibo.0cd39f5.png" alt="微博"></a>
                </li>
                <li>
                    <a href=""><img data-v-f6862670="" src="//gold-cdn.xitu.io/v3/static/img/wechat.ce329e6.png" alt="微信"></a>
                </li>
                <li>
                    <a href=""><img data-v-f6862670="" src="//gold-cdn.xitu.io/v3/static/img/zhuanlan.18265c6.png" alt="知乎"></a>
                </li>
                <li>
                    <a href=""><img data-v-f6862670="" src="//gold-cdn.xitu.io/v3/static/img/jianshu.80c1fdd.png" alt="简书"></a>
                </li>
            </ul>
        </div>
        <div class="foot-content-bottom">
            <div class="pull-right foot-content-right">
                <a class="scan-log" href="#"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>点击扫码登录</a>
                <div class="web-code-div">
                    <img src="/images/web_code.png" alt="加载失败">
                </div>
            </div>
            <p>&copy;2017 by 姚海洋</p>
        </div>
    </div>
</div>
