<!-- 资源 -->
<div class="">
    <div class="clearfix sec-nav">
        <h5 class="pull-left">热门文章</h5>
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="#">推荐</a></li>
            <li role="presentation"><a href="#">前端</a></li>
            <li role="presentation"><a href="#">Android</a></li>
            <li role="presentation"><a href="#">iOS</a></li>
            <li role="presentation"><a href="#">工具资源</a></li>
            <li role="presentation"><a href="#">后端</a></li>
            <li role="presentation"><a href="#">人工智能</a></li>
        </ul>
    </div>
    <div class="panel panel-default content-item">
        <div class="panel-body">
            <div class="clearfix">
                <p class="list-group-item-text pull-left pub-show-tips">
                    <span>大漠穷秋</span>
                    <span>Angular.js</span>
                </p>
                <p class="list-group-item-text pull-right pub-show-tips">1小时前</p>
            </div>
            <div class="pub-show-content clearfix">
                <div class="pull-left pub-show-content-txt">
                    <h3 class="list-group-item-heading pull-left">List group item heading</h3>
                </div>
            </div>
            <ul class="list-inline pub-show-foot">
                <li><span class="glyphicon glyphicon-heart" aria-hidden="true">12个人点赞</span></li>
                <li><span class="glyphicon glyphicon-comment" aria-hidden="true">50条评论</span></li>
                <li><span class="glyphicon glyphicon-star" aria-hidden="true">收藏</span></li>
                <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true">分享</span></li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default content-item">
        <div class="panel-body">
            <div class="clearfix">
                <p class="list-group-item-text pull-left pub-show-tips">
                    <span>大漠穷秋</span>
                    <span>Angular.js</span>
                </p>
                <p class="list-group-item-text pull-right pub-show-tips">1小时前</p>
            </div>
            <div class="pub-show-content clearfix">
                <div class="pull-left pub-show-content-txt">
                    <h3 class="list-group-item-heading pull-left">List group item heading</h3>
                </div>
            </div>
            <ul class="list-inline pub-show-foot">
                <li><span class="glyphicon glyphicon-heart" aria-hidden="true">12个人点赞</span></li>
                <li><span class="glyphicon glyphicon-comment" aria-hidden="true">50条评论</span></li>
                <li><span class="glyphicon glyphicon-star" aria-hidden="true">收藏</span></li>
                <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true">分享</span></li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default content-item">
        <div class="panel-body">
            <div class="clearfix">
                <p class="list-group-item-text pull-left pub-show-tips">
                    <span>大漠穷秋</span>
                    <span>Angular.js</span>
                </p>
                <p class="list-group-item-text pull-right pub-show-tips">1小时前</p>
            </div>
            <div class="pub-show-content clearfix">
                <div class="pull-left pub-show-content-img">
                    <img src="/images/index1.jpg" alt="">
                </div>
                <div class="pull-left pub-show-content-txt">
                    <h3 class="list-group-item-heading pull-left">List group item heading</h3>
                </div>
            </div>
            <ul class="list-inline pub-show-foot">
                <li><span class="glyphicon glyphicon-heart" aria-hidden="true">12个人点赞</span></li>
                <li><span class="glyphicon glyphicon-comment" aria-hidden="true">50条评论</span></li>
                <li><span class="glyphicon glyphicon-star" aria-hidden="true">收藏</span></li>
                <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true">分享</span></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default content-item">
        <div class="panel-body">
            <div class="clearfix">
                <p class="list-group-item-text pull-left pub-show-tips">
                    <span>大漠穷秋</span>
                    <span>Angular.js</span>
                </p>
                <p class="list-group-item-text pull-right pub-show-tips">1小时前</p>
            </div>
            <div class="pub-show-content clearfix">
                <div class="pull-left pub-show-content-img">
                    <img src="/images/index1.jpg" alt="">
                </div>
                <div class="pull-left pub-show-content-txt">
                    <h3 class="list-group-item-heading pull-left">List group item heading</h3>
                </div>
            </div>
            <ul class="list-inline pub-show-foot">
                <li><span class="glyphicon glyphicon-heart" aria-hidden="true">12个人点赞</span></li>
                <li><span class="glyphicon glyphicon-comment" aria-hidden="true">50条评论</span></li>
                <li><span class="glyphicon glyphicon-star" aria-hidden="true">收藏</span></li>
                <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true">分享</span></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default content-item">
        <div class="panel-body">
            <div class="clearfix">
                <p class="list-group-item-text pull-left pub-show-tips">
                    <span>大漠穷秋</span>
                    <span>Angular.js</span>
                </p>
                <p class="list-group-item-text pull-right pub-show-tips">1小时前</p>
            </div>
            <div class="pub-show-content clearfix">
                <div class="pull-left pub-show-content-img">
                    <img src="/images/index1.jpg" alt="">
                </div>
                <div class="pull-left pub-show-content-txt">
                    <h3 class="list-group-item-heading pull-left">List group item heading</h3>
                </div>
            </div>
            <ul class="list-inline pub-show-foot">
                <li><span class="glyphicon glyphicon-heart" aria-hidden="true">12个人点赞</span></li>
                <li><span class="glyphicon glyphicon-comment" aria-hidden="true">50条评论</span></li>
                <li><span class="glyphicon glyphicon-star" aria-hidden="true">收藏</span></li>
                <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true">分享</span></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default content-item">
        <div class="panel-body">
            <div class="clearfix">
                <p class="list-group-item-text pull-left pub-show-tips">
                    <span>大漠穷秋</span>
                    <span>Angular.js</span>
                </p>
                <p class="list-group-item-text pull-right pub-show-tips">1小时前</p>
            </div>
            <div class="pub-show-content clearfix">
                <div class="pull-left pub-show-content-img">
                    <img src="/images/index1.jpg" alt="">
                </div>
                <div class="pull-left pub-show-content-txt">
                    <h3 class="list-group-item-heading pull-left">List group item heading</h3>
                </div>
            </div>
            <ul class="list-inline pub-show-foot">
                <li><span class="glyphicon glyphicon-heart" aria-hidden="true">12个人点赞</span></li>
                <li><span class="glyphicon glyphicon-comment" aria-hidden="true">50条评论</span></li>
                <li><span class="glyphicon glyphicon-star" aria-hidden="true">收藏</span></li>
                <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true">分享</span></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default content-item">
        <div class="panel-body">
            <div class="clearfix">
                <p class="list-group-item-text pull-left pub-show-tips">
                    <span>大漠穷秋</span>
                    <span>Angular.js</span>
                </p>
                <p class="list-group-item-text pull-right pub-show-tips">1小时前</p>
            </div>
            <div class="pub-show-content clearfix">
                <div class="pull-left pub-show-content-img">
                    <img src="/images/index1.jpg" alt="">
                </div>
                <div class="pull-left pub-show-content-txt">
                    <h3 class="list-group-item-heading pull-left">List group item heading</h3>
                </div>
            </div>
            <ul class="list-inline pub-show-foot">
                <li><span class="glyphicon glyphicon-heart" aria-hidden="true">12个人点赞</span></li>
                <li><span class="glyphicon glyphicon-comment" aria-hidden="true">50条评论</span></li>
                <li><span class="glyphicon glyphicon-star" aria-hidden="true">收藏</span></li>
                <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true">分享</span></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default content-item">
        <div class="panel-body">
            <div class="clearfix">
                <p class="list-group-item-text pull-left pub-show-tips">
                    <span>大漠穷秋</span>
                    <span>Angular.js</span>
                </p>
                <p class="list-group-item-text pull-right pub-show-tips">1小时前</p>
            </div>
            <div class="pub-show-content clearfix">
                <div class="pull-left pub-show-content-img">
                    <img src="/images/index1.jpg" alt="">
                </div>
                <div class="pull-left pub-show-content-txt">
                    <h3 class="list-group-item-heading pull-left">List group item heading</h3>
                </div>
            </div>
            <ul class="list-inline pub-show-foot">
                <li><span class="glyphicon glyphicon-heart" aria-hidden="true">12个人点赞</span></li>
                <li><span class="glyphicon glyphicon-comment" aria-hidden="true">50条评论</span></li>
                <li><span class="glyphicon glyphicon-star" aria-hidden="true">收藏</span></li>
                <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true">分享</span></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default content-item">
        <div class="panel-body">
            <div class="clearfix">
                <p class="list-group-item-text pull-left pub-show-tips">
                    <span>大漠穷秋</span>
                    <span>Angular.js</span>
                </p>
                <p class="list-group-item-text pull-right pub-show-tips">1小时前</p>
            </div>
            <div class="pub-show-content clearfix">
                <div class="pull-left pub-show-content-img">
                    <img src="/images/index1.jpg" alt="">
                </div>
                <div class="pull-left pub-show-content-txt">
                    <h3 class="list-group-item-heading pull-left">List group item heading</h3>
                </div>
            </div>
            <ul class="list-inline pub-show-foot">
                <li><span class="glyphicon glyphicon-heart" aria-hidden="true">12个人点赞</span></li>
                <li><span class="glyphicon glyphicon-comment" aria-hidden="true">50条评论</span></li>
                <li><span class="glyphicon glyphicon-star" aria-hidden="true">收藏</span></li>
                <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true">分享</span></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default content-item">
        <div class="panel-body">
            <div class="clearfix">
                <p class="list-group-item-text pull-left pub-show-tips">
                    <span>大漠穷秋</span>
                    <span>Angular.js</span>
                </p>
                <p class="list-group-item-text pull-right pub-show-tips">1小时前</p>
            </div>
            <div class="pub-show-content clearfix">
                <div class="pull-left pub-show-content-img">
                    <img src="/images/index1.jpg" alt="">
                </div>
                <div class="pull-left pub-show-content-txt">
                    <h3 class="list-group-item-heading pull-left">List group item heading</h3>
                </div>
            </div>
            <ul class="list-inline pub-show-foot">
                <li><span class="glyphicon glyphicon-heart" aria-hidden="true">12个人点赞</span></li>
                <li><span class="glyphicon glyphicon-comment" aria-hidden="true">50条评论</span></li>
                <li><span class="glyphicon glyphicon-star" aria-hidden="true">收藏</span></li>
                <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true">分享</span></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default content-item">
        <div class="panel-body">
            <div class="clearfix">
                <p class="list-group-item-text pull-left pub-show-tips">
                    <span>大漠穷秋</span>
                    <span>Angular.js</span>
                </p>
                <p class="list-group-item-text pull-right pub-show-tips">1小时前</p>
            </div>
            <div class="pub-show-content clearfix">
                <div class="pull-left pub-show-content-img">
                    <img src="/images/index1.jpg" alt="">
                </div>
                <div class="pull-left pub-show-content-txt">
                    <h3 class="list-group-item-heading pull-left">List group item heading</h3>
                </div>
            </div>
            <ul class="list-inline pub-show-foot">
                <li><span class="glyphicon glyphicon-heart" aria-hidden="true">12个人点赞</span></li>
                <li><span class="glyphicon glyphicon-comment" aria-hidden="true">50条评论</span></li>
                <li><span class="glyphicon glyphicon-star" aria-hidden="true">收藏</span></li>
                <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true">分享</span></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default content-item">
        <div class="panel-body">
            <div class="clearfix">
                <p class="list-group-item-text pull-left pub-show-tips">
                    <span>大漠穷秋</span>
                    <span>Angular.js</span>
                </p>
                <p class="list-group-item-text pull-right pub-show-tips">1小时前</p>
            </div>
            <div class="pub-show-content clearfix">
                <div class="pull-left pub-show-content-img">
                    <img src="/images/index1.jpg" alt="">
                </div>
                <div class="pull-left pub-show-content-txt">
                    <h3 class="list-group-item-heading pull-left">List group item heading</h3>
                </div>
            </div>
            <ul class="list-inline pub-show-foot">
                <li><span class="glyphicon glyphicon-heart" aria-hidden="true">12个人点赞</span></li>
                <li><span class="glyphicon glyphicon-comment" aria-hidden="true">50条评论</span></li>
                <li><span class="glyphicon glyphicon-star" aria-hidden="true">收藏</span></li>
                <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true">分享</span></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default content-item">
        <div class="panel-body">
            <div class="clearfix">
                <p class="list-group-item-text pull-left pub-show-tips">
                    <span>大漠穷秋</span>
                    <span>Angular.js</span>
                </p>
                <p class="list-group-item-text pull-right pub-show-tips">1小时前</p>
            </div>
            <div class="pub-show-content clearfix">
                <div class="pull-left pub-show-content-img">
                    <img src="/images/index1.jpg" alt="">
                </div>
                <div class="pull-left pub-show-content-txt">
                    <h3 class="list-group-item-heading pull-left">List group item heading</h3>
                </div>
            </div>
            <ul class="list-inline pub-show-foot">
                <li><span class="glyphicon glyphicon-heart" aria-hidden="true">12个人点赞</span></li>
                <li><span class="glyphicon glyphicon-comment" aria-hidden="true">50条评论</span></li>
                <li><span class="glyphicon glyphicon-star" aria-hidden="true">收藏</span></li>
                <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true">分享</span></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default content-item">
        <div class="panel-body">
            <div class="clearfix">
                <p class="list-group-item-text pull-left pub-show-tips">
                    <span>大漠穷秋</span>
                    <span>Angular.js</span>
                </p>
                <p class="list-group-item-text pull-right pub-show-tips">1小时前</p>
            </div>
            <div class="pub-show-content clearfix">
                <div class="pull-left pub-show-content-img">
                    <img src="/images/index1.jpg" alt="">
                </div>
                <div class="pull-left pub-show-content-txt">
                    <h3 class="list-group-item-heading pull-left">List group item heading</h3>
                </div>
            </div>
            <ul class="list-inline pub-show-foot">
                <li><span class="glyphicon glyphicon-heart" aria-hidden="true">12个人点赞</span></li>
                <li><span class="glyphicon glyphicon-comment" aria-hidden="true">50条评论</span></li>
                <li><span class="glyphicon glyphicon-star" aria-hidden="true">收藏</span></li>
                <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true">分享</span></li>
            </ul>
        </div>
    </div>
</div>
