<!--返回顶部按钮-->
<a class="back-top" href="javascript:;">
    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
</a>
<script src="/lib/js/jquery-1.11.1.min.js"></script>
<script src="/lib/js/bootstrap.min.js"></script>
<!--<script src="/lib/js/swiper.min.js"></script>-->
<script src="/js/numFormat.js"></script>
<script src="/js/plugin/loadding.min.js"></script>
<script src="/js/plugin/flashing.js"></script>
<script src="/js/plugin/shake.js"></script>
<script src="/js/base.js"></script>
<script src="/js/index.js"></script>