<!--返回顶部按钮-->
<a class="back-top" href="javascript:;" data-toggle="tooltip" data-placement="left" title="回到顶部">
    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
</a>
<!--<script src="/lib/js/swiper.min.js"></script>-->
<!--<script src="/plugins/loading/loadding.min.js"></script>-->
<script src="/plugins/msg-remind/flashing.js"></script>
<script src="/plugins/msg-remind/shake.js"></script>
<script src="/js/base.js"></script>