<link rel="stylesheet" href="/css/header.css">
<!-- 顶部导航 -->
<div class="navbar navbar-default navbar-fixed-top slideUp slideDown sea-menu-nav" role="navigation" id="menu-nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand sea-logo" href="/#">Answer</a>
        </div>
        <div class="navbar-collapse collapse">
            <div class="row clearfix">
                <ul class="nav navbar-nav nav-style-list">
                    <li class="nav-style-item"><a href="/#">首页</a></li>
                    <li class="nav-style-item"><a href="/discover">发现</a></li>
                    <li class="nav-style-item"><a href="/question">问答</a></li>
                </ul>
                <div class="col-md-3 col-sm-3">
                    <form class="navbar-form navbar-left" style="width: 100%;">
                        <div class="form-group" style="width: 100%;position: relative">
                            <input type="text" class="search-box form-control" placeholder="搜索…">
                            <span class="glyphicon glyphicon-search search-btn" aria-hidden="true"></span>
                        </div>
                    </form>
                </div>
                <a href="/publish" type="button" class="btn btn-primary publish-btn" role="button">投稿</a>
                <% if(!user_sn){ %>
                <!--未登录时显示登录信息-->
                <ul class="nav navbar-nav pull-right user-login-reg-list">
                    <li class="login-reg"><a href="/login">登录</a></li>
                    <li class="login-reg"><a href="/reg">注册</a></li>
                </ul>
                <% }else{ %>
                <!--登录后，显示个人信息-->
                <ul class="nav navbar-nav pull-right user-handle-list">
                    <li class="user-handle-item"><a href="#"><span
                                    class="glyphicon glyphicon-bell icon-style message-tips" aria-hidden="true"></span></a>
                    </li>
                    <li class="user-handle-item"><a href="#"><span
                                    class="glyphicon glyphicon-send icon-style private-letter"
                                    aria-hidden="true"></span></a></li>
                    <li class="dropdown user-handle-item">
                        <% if(user_sn.avatar){ %>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="img-circle user-head"
                                                                                        src="<%= user_sn.avatar %>"
                                                                                        alt="头像"
                                                                                        onerror="avatarError(this)"></a>
                        <% }else{ %>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="img-circle user-head"
                                                                                        src="/images/default/default_avatar.jpg"
                                                                                        alt="头像"
                                                                                        onerror="avatarError(this)"></a>
                        <% } %>
                        <ul class="dropdown-menu dropdown-menu-right user-handle-item-menu" role="menu">
                            <li><a href="/user/<%= user_sn.account %>"><span class="glyphicon glyphicon-user"
                                                                             aria-hidden="true"></span>我的主页</a></li>
                            <li><a href="/setting/<%= user_sn.account %>"><span class="glyphicon glyphicon-cog"
                                                                                aria-hidden="true"></span>个人设置</a></li>
                            <li><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>退出系统</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <% } %>
            </div>
        </div>
    </div>
</div>
