<!-- 问答 -->
<div class="row" id="Q-A">
    <div class="page-header my-page-header">
        <h3 class="my-page-title">热门问答
            <small>路漫漫其修远兮,吾将上下而求索——<mark>屈原</mark></small>
            <small><span class="label label-danger pull-right view-more qa-more">more</span></small>
        </h3>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="panel panel-default Q-A-panel">
            <div class="panel-body">
                <a href="" title="">
                    <img class="lazy" src="images/head1.jpg" width="150" height="150" style="border-radius: 50%" alt="">
                </a>
                <div class="Q-A-title">
                    <h3 class="text-left">javascript为什么加载不了，各种操作无效，求大佬
                        <small><span class="label label-primary">javascript</span></small>
                    </h3>
                    <p class="text-left">vue里面的页面跳转是前端跳转，不会向后台重新请求页面，页面也不会刷新，所以你那段jquery的代码并不会在vue跳转以后执行……</p>
                </div>
            </div>
            <div class="panel-footer Q-A-foot clearfix">
                <p class="pull-left"><span><strong>6132</strong>浏览</span></p>
                <p class="pull-right"><span><strong>251</strong>评论</span></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="panel panel-default Q-A-panel">
            <div class="panel-body">
                <a href="" title="">
                    <img class="lazy" src="images/head2.jpg" width="150" height="150" style="border-radius: 50%" alt="">
                </a>
                <div class="Q-A-title">
                    <h3 class="text-left">前端网页制作的代码编写一般用什么?求大佬
                        <small><span class="label label-primary">web前端</span></small>
                    </h3>
                    <p class="text-left">如果你问用什么语言：html css javascript如果你问用什么编辑器：hbuilder  idea  webstorm sublime等 看个人喜好如果你问用什么语言……</p>
                </div>
            </div>
            <div class="panel-footer Q-A-foot clearfix">
                <p class="pull-left"><span><strong>626</strong>浏览</span></p>
                <p class="pull-right"><span><strong>132</strong>评论</span></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="panel panel-default Q-A-panel">
            <div class="panel-body">
                <a href="" title="">
                    <img class="lazy" src="images/head3.jpg" width="150" height="150" style="border-radius: 50%" alt="">
                </a>
                <div class="Q-A-title">
                    <h3 class="text-left">用if的为何else设置里的没有用，谢谢大腿大佬
                        <small><span class="label label-primary">js</span></small>
                    </h3>
                    <p class="text-left">错的不是一两点啊，  注意代码规范。 function c5(){     vra mychar=confirm("是否取消设置");     if (mychar){……</p>
                </div>
            </div>
            <div class="panel-footer Q-A-foot clearfix">
                <p class="pull-left"><span><strong>554132</strong>浏览</span></p>
                <p class="pull-right"><span><strong>32</strong>评论</span></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="panel panel-default Q-A-panel">
            <div class="panel-body">
                <a href="" title="">
                    <img class="lazy" src="images/head4.jpg" width="150" height="150" style="border-radius: 50%" alt="">
                </a>
                <div class="Q-A-title">
                    <h3 class="text-left">怎样才能让字压住线，有字的部分没有线
                        <small><span class="label label-primary">css</span></small>
                    </h3>
                    <p class="text-left">分成三个div来做。 左边线、中间字、右边线。分成三个div来做。 左边线、中间字、右边线。分成三个div来做。 左边线、中间字、右边线……</p>
                </div>
            </div>
            <div class="panel-footer Q-A-foot clearfix">
                <p class="pull-left"><span><strong>123132</strong>浏览</span></p>
                <p class="pull-right"><span><strong>32</strong>评论</span></p>
            </div>
        </div>
    </div>
</div>
<hr class="my-divider">