<link rel="stylesheet" href="/css/links.css">
<div class="footer-content">
    <div class="concern-us">
        <p>友情链接</p>
        <ul class="list-inline concern-list">
            <li>
                <a href="http://www.seayao121.com:801" target="_blank">
                    <img class="logo-item logo-item-lang" src="http://www.seayao121.com:8888/logo/lang-pictures.svg" alt="长图">
                </a>
            </li>
            <li>
                <a href="http://www.seayao121.com:808" target="_blank">
                    <img class="logo-item logo-item-hear" src="http://www.seayao121.com:8888/logo/hear.svg" alt="听见好声音">
                </a>
            </li>
            <li>
                <a href="http://www.seayao121.com:804" target="_blank">
                    <img class="logo-item logo-item-game" src="http://www.seayao121.com:8888/logo/game-center.svg" alt="游戏中心">
                </a>
            </li>
            <li>
                <a href="http://www.seayao121.com:805" target="_blank">
                    <img class="logo-item logo-item-chat" src="http://www.seayao121.com:8888/logo/chat.svg" alt="聊天">
                </a>
            </li>
        </ul>
    </div>
    <div class="foot-content-bottom">
        <div class="foot-copyright">
            <p>Copyright&nbsp;&copy;&nbsp;2017&nbsp;<a href="http://www.seayao121.com">seayao</a></p>
            <p>2015&nbsp;-&nbsp;2017&nbsp;All&nbsp;rights&nbsp;reserved.</p>
        </div>
        <div class="foot-content-right">
            <a class="scan-log" href="javascript:;"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>点击扫码登录</a>
            <div class="web-code-div">
                <img src="http://www.seayao121.com:8888/qrcode/answer.svg" alt="加载失败">
            </div>
        </div>
    </div>
</div>