<link rel="stylesheet" href="/plugins/loading-bysea/css/loading.css">
<div id="loading-bysea"></div>
<script src="/plugins/loading-bysea/js/loading.js"></script>
<script>
    $('#loading-bysea').loading({state: 'open', anim: 0, time: 200});
</script>