<link rel="stylesheet" href="css/pre-loadding.css">
<div class="main-loading" id="main-loading">
    <div class="loading-con">
        <div class="loading-circle"></div>
        <img class="pre-load-img" src="images/lol/1.jpg" title="" alt="">
    </div>
</div>
<script>
    var oImg = document.getElementsByClassName('pre-load-img')[0];
    (function randomImage(){
        var imgNum = parseInt(Math.random()*12 + 0);
        oImg.src= 'images/lol/' +imgNum + '.jpg';
    }());
</script>