<!-- 资源 -->
<ul class="nav nav-tabs" role="tablist" id="feature-tab">
    <li class="active">
        <a href="#tab-article" role="tab" data-toggle="tab">美文</a>
    </li>
    <li>
        <a href="#tab-picture" role="tab" data-toggle="tab">图片</a>
    </li>
    <li>
        <a href="#tab-music" role="tab" data-toggle="tab">音乐</a>
    </li>
    <li>
        <a href="#tab-video" role="tab" data-toggle="tab">视频</a>
    </li>
    <li>
        <a href="#tab-link" role="tab" data-toggle="tab">链接</a>
    </li>
</ul>
<div class="resource-div">
    <span class="label label-danger pull-right view-more resource-more">more</span>
</div>
<div class="tab-content">
    <div class="tab-pane active" id="tab-article">
        <div class="row feature">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="panel panel-primary speech-content">
                    <div class="panel-heading">
                        <h3 class="panel-title">念一首诗给你听</h3>
                    </div>
                    <div class="panel-body">
                        下雨过后的屋檐　果然　最适合风铃
                        你从窗外看到　风刚刚冒出嫩芽的声音　很轻
                        而我决定了　在猫的眼睛上　旅行
                        于是乎　所有的神秘都向后退　退成风景
                        只有隐藏的够灵巧的事情　才能长成　蒲公英
                        然后毫无负担的跟着　前进　很小心
                        因为害怕　将只敢在梦中喜欢你的我的那部分　吵醒
                        于是乎　我默念了一首诗　给你听
                        打开诗集的动作　很小心　很轻
                        很轻　很小心　就像猫跟风铃　念了一首诗　给你听
                        希望你能听得见
                        希望你能听得见
                        希望你能听得见
                        希望你能听得见
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">随笔</h3>
                    </div>
                    <div class="panel-body">
                        什么时候我们才能真正明白这世间
                        孤独是常态
                        欢乐 相聚 都是一时
                        而自己其实并不重要
                        不管对于谁来说 对于宇宙 对于世界 对于口口声声说爱你的人
                        也不见得少了你就不可以
                        我知道我已经是病态的了
                        我畏惧孤独
                        我害怕说话没人回应
                        心思细的像根针
                        但我必须忍受这一切
                        我也害怕与人交际
                        我希望自己在一个很好的年龄离去
                        如果再也没有可以留恋的东西
                        如果人死后还能看到这个世界
                        该多好
                        每个人都好自私好自私
                        听到别人的苦难 第一反应都是庆幸自己没有这样的苦难
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">重量</h3>
                    </div>
                    <div class="panel-body">
                        每滴雨 似乎都分的出 不同 重量
                        几斤几两
                        还是你偏爱 衬出了 爱情 另一面的 凄凉
                        根本不是 插画的本子 写的那样
                        生如夏花 携手流浪
                        翻看过往 如果分析要细微到 逐字逐行
                        那我爱你 听起来也并非 会激起风浪
                        只是这样平静的午后 再淋一场雨 还会感受
                        从上而下 多了些 回忆里独有的重量
                        每滴雨 似乎都分的出 不同 重量
                        几斤几两
                        还是你偏爱 衬出了 爱情 另一面的 凄凉
                        根本不是 插画的本子 写的那样
                        生如夏花 携手流浪
                        翻看过往 如果分析要细微到 逐字逐行
                        那我爱你 听起来也并非 会激起风浪
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">当年</h3>
                    </div>
                    <div class="panel-body">
                        入夜，无眠，你一个人还在与旧事缠绵
                        当年，青春正好，再多粉黛也抵不过一个浅笑嫣然
                        与他的一字一言即使时过境迁也能注解在青春的两边
                        爱情这字眼，没细斟就被你成全在你与他之间
                        其实不过几面几言，却被你认真的轰轰烈烈
                        那些年，最美的还是那张纯真的脸，不惧时光深情款款
                        而续入的却永远是分别与下一站
                        入夜，无眠，你一个人还在与旧事缠绵
                        当年，青春正好，再多粉黛也抵不过一个浅笑嫣然
                        与他的一字一言即使时过境迁也能注解在青春的两边
                        爱情这字眼，没细斟就被你成全在你与他之间
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tab-picture">
        <div class="row feature">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <a href="#" class="thumbnail">
                    <img src="images/pic1.jpg" alt="...">
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <a href="#" class="thumbnail">
                    <img src="images/pic2.jpg" alt="...">
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <a href="#" class="thumbnail">
                    <img src="images/pic3.jpg" alt="...">
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <a href="#" class="thumbnail">
                    <img src="images/pic4.jpg" alt="...">
                </a>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tab-music">
        <div class="row feature">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <p>待续</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <p>待续</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <p>待续</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <p>待续</p>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tab-video">
        <div class="row feature">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <p>待续</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <p>待续</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <p>待续</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <p>待续</p>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tab-link">
        <div class="row feature">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="thumbnail" style="height: 336px;">
                    <a href="http://codeguide.bootcss.com" title="Bootstrap 编码规范" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])">
                        <img class="lazy" src="https://static.bootcss.com/www/assets/img/codeguide.png?1498888909031" width="300" height="150" data-src="https://static.bootcss.com/www/assets/img/codeguide.png?1498888909031" alt="Bootstrap 编码规范">
                    </a>
                    <div class="caption">
                        <h3>
                            <a href="http://codeguide.bootcss.com" title="Bootstrap 编码规范" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])">Bootstrap 编码规范<br><small>by @mdo</small></a>
                        </h3>
                        <p>Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 ">
                <div class="thumbnail" style="height: 336px;">
                    <a href="https://vuejs.bootcss.com/" title="Vue.js - 渐进式 JavaScript 框架" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'vuejs'])">
                        <img class="lazy" src="https://static.bootcss.com/www/assets/img/vuejs.png?1498888909031" width="300" height="150" data-src="https://static.bootcss.com/www/assets/img/vuejs.png?1498888909031" alt="Vue.js - 渐进式 JavaScript 框架">
                    </a>
                    <div class="caption">
                        <h3>
                            <a href="https://vuejs.bootcss.com/" title="Vue.js - 渐进式 JavaScript 框架" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'vuejs'])">Vue.js<br><small> 中文文档。</small></a>
                        </h3>
                        <p>Vue.js - 是一套构建用户界面的渐进式框架。</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 ">
                <div class="thumbnail" style="height: 336px;">
                    <a href="https://react.bootcss.com/" title="React - 用于构建用户界面的 JavaScript 框架" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'react'])">
                        <img class="lazy" src="https://static.bootcss.com/www/assets/img/react.png?1498888909031" width="300" height="150" data-src="https://static.bootcss.com/www/assets/img/react.png?1498888909031" alt="React - 用于构建用户界面的 JavaScript 框架">
                    </a>
                    <div class="caption">
                        <h3>
                            <a href="https://react.bootcss.com/" title="React - 用于构建用户界面的 JavaScript 框架" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'react'])">React<br><small>用于构建用户界面的 JavaScript 框架</small></a>
                        </h3>
                        <p>React 起源于 Facebook 的内部项目，是一个用于构建用户界面的 JavaScript 库。</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 ">
                <div class="thumbnail" style="height: 336px;">
                    <a href="http://www.jquery123.com/" title="jQuery API 中文文档/手册" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'jQueryAPI中文手册'])">
                        <img class="lazy" src="https://static.bootcss.com/www/assets/img/jqueryapi.png?1498888909031" width="300" height="150" data-src="https://static.bootcss.com/www/assets/img/jqueryapi.png?1498888909031" alt="jQuery API 中文文档/手册">
                    </a>
                    <div class="caption">
                        <h3>
                            <a href="http://www.jquery123.com/" title="jQuery API 中文文档/手册" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'jQueryAPI中文手册'])">jQuery API <br><small>中文手册</small></a>
                        </h3>
                        <p>根据最新的 jQuery 1.11.x 和 2.1.x 版本翻译的 jQuery API 中文文档/手册。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

