body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #5a5a5a;
    /*解决模态框左右抖动问题*/
    overflow: auto !important;
    background-color: #f3f3f3;
}

#menu-nav{
    background-color: #fff;
    padding: 5px 0;
}

.my-logo{
    color: #007fff !important;
    font-size: 30px;
    font-weight: bold;
}

.user-handle-item{
    max-height: 50px;
    vertical-align: middle;
}

.user-handle-item .icon-style{
    font-size: 18px;
}

.user-handle-item .user-head{
    width: 36px;
    height: 36px;
    margin-top: -10px;
}

.user-handle-item-menu span.glyphicon{
    margin-right: 5px;
}

/*导航菜单向上滑动*/
.slideUp {
    -webkit-transform:translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform:translateY(-100px);
    transform:translateY(-100px);
    -webkit-transition: transform 1s ease-out;
    -moz-transition: transform 1s ease-out;
    -ms-transition: transform 1s ease-out;
    -o-transition: transform 1s ease-out;
    transition: transform 1s ease-out;
}
/*导航菜单向下滑动*/
.slideDown {
    -webkit-transform:translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform:translateY(0);
    transform:translateY(0);
    -webkit-transition: transform .2s ease-out;
    -moz-transition: transform .2s ease-out;
    -ms-transition: ttransform .2s ease-out;
    -o-transition: ttransform .2s ease-out;
    transition: transform .2s ease-out;
}

/*返回顶部图标*/
.back-top {
    display: none;
    z-index: 999999;
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #777;
    color: #eee;
    font-size: 24px;
    line-height: 2;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    overflow: hidden;
    border: none;
    opacity: .8;
}

.back-top:hover {
    background-color: #333;
    color: #fff;
}

.back-top:active, .back-top:focus {
    color: #fff;
}

/*按钮点击边框去除*/
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

/*解决模态框左右抖动问题*/
.modal {
    overflow: auto !important;
}

.my-search-div{
    margin-top: 10px;
}

.publish-btn{
    margin: 10px 0 0 10px;
}

.publish-modal-body{
    padding-top: 5px;
}

.summary{
    padding-right: 0;
    padding-left: 0;
    margin-top: 25px;
    overflow-x: hidden;
}

/*二级导航*/
.sec-nav{
    background-color: #fff;
    padding: 5px 10px;
    border-bottom: 1px solid rgba(178,186,194,.15);
}

.content-item{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border:none;
    border-bottom: 1px solid rgba(178,186,194,.15);
}

.pub-tab-top .pub-tab-title{
    line-height: 40px;
    margin: 0 0 -5px 15px;
    padding-top: 10px;
    font-weight: 700;
    color: #333;
}

.pub-show-list .pub-show-item{
    border:none;
}

.pub-show-list .pub-show-item .pub-show-tips{
    margin-bottom: 10px;
}

.pub-show-content .pub-show-content-img{
    margin-right: 10px;
}

.pub-show-content .pub-show-content-txt{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pub-show-content .pub-show-content-txt h3{
    margin-top: 10px;
    font-weight: 700;
    color: #000;
}

.pub-show-foot{
    margin-top: 5px;
}

.pub-show-foot li span{
    cursor: pointer;
}

.pub-show-foot li span:hover{
    color: #007fff;
}

/* 响应式布局 */
@media (max-width:450px) {
    .nav-style-list{
        width: 100%;
        text-align: center;
    }

    .nav-style-list .nav-style-item{
        float: left;
        width: 25%;
        max-width: 25%;
    }

    .resource-drop-menu{
        min-width: 0;
        background-color: #000 !important;
    }

    .resource-drop-menu a{
        color: #fff !important;
        padding-left: 15px !important;
    }

    .user-handle-list,.user-login-reg-list{
        float: left !important;
        width: 100%;
        text-align: center;
    }

    .user-handle-list .user-handle-item{
        float: left;
        width: 33%;
        max-width: 33%;
    }

    .user-login-reg-list .login-reg{
        float: left;
        width: 50%;
        max-width: 50%;
    }

    .user-handle-item-menu{
        min-width: 0;
        background-color: #000 !important;
    }

    .user-handle-item-menu a{
        color: #fff !important;
        padding-left: 10px !important;
    }

    .topic-swiper {
        height: 300px;
        margin-bottom: 20px;
    }

    .topic-swiper .topic-swiper-item {
        height: 300px;
    }

    .topic-swiper img {
        min-height: 300px;
    }

    .carousel-caption p {
        font-size: 16px;
        line-height: 1.4;
    }

    .note-user-info{
        max-width: 50%;
    }

    .view-comment{
        max-width: 50%;
    }

    .note-user-info .note-user-name{
        display: inline-block;
        max-width:40%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}


@media (max-width: 768px)and (min-width: 450px) {
    .nav-style-list{
        width: 100%;
        text-align: center;
    }

    .nav-style-list .nav-style-item{
        float: left;
        width: 25%;
        max-width: 25%;
    }

    .resource-drop-menu{
        min-width: 0;
        background-color: #000 !important;
    }

    .resource-drop-menu a{
        color: #fff !important;
        padding-left: 15px !important;
    }

    .user-handle-list,.user-login-reg-list{
        float: left !important;
        width: 100%;
        text-align: center;
    }

    .user-handle-list .user-handle-item{
        float: left;
        width: 33%;
        max-width: 33%;
    }

    .user-login-reg-list .login-reg{
        float: left;
        width: 50%;
        max-width: 50%;
    }

    .user-handle-item-menu{
        min-width: 0;
        background-color: #000 !important;
    }

    .user-handle-item-menu a{
        color: #fff !important;
        padding-left: 10px !important;
    }

    .topic-swiper {
        height: 300px;
        margin-bottom: 20px;
    }

    .topic-swiper .topic-swiper-item {
        height: 300px;
    }

    .topic-swiper img {
        min-height: 300px;
    }

    .carousel-caption p {
        font-size: 16px;
        line-height: 1.4;
    }

    .feature-heading {
        font-size: 34px;
    }

    .feature-heading .text-muted {
        font-size: 22px;
    }

    .note-user-info{
        max-width: 50%;
    }

    .view-comment{
        max-width: 40%;
    }

    .note-user-info .note-user-name{
        display: inline-block;
        max-width: 60%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

@media (min-width: 992px) {
    .feature-heading {
        margin-top: 120px;
    }

    .back-top {
        bottom: 100px;
    }

    .note-user-info{
        max-width: 80%;
    }

    .view-comment{
        max-width: 20%;
    }

    .note-user-info .note-user-name{
        display: inline-block;
        max-width: 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

@media (min-width:1200px) {
    .note-user-info{
        max-width: 60%;
    }

    .view-comment{
        max-width: 40%;
    }

    .note-user-info .note-user-name{
        display: inline-block;
        max-width: 60%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}




