.user-info-head {
    background-color: #fff;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 37, 55, .05);
    -moz-box-shadow: 0 1px 3px rgba(0, 37, 55, .05);
    box-shadow: 0 1px 3px rgba(0, 37, 55, .05);
}

.UserCover-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.UserCover-image img {
    width: 100%;
    height: 240px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.UserCover-noImage {
    width: 100%;
    height: 132px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: transparent;
}

.userBase-info {
    position: relative;
    min-height: 160px;
}

.user-avatar {
    width: 168px;
    height: 168px;
    cursor: pointer;
    position: absolute;
    top: -25px;
    left: 20px;
    z-index: 4;
}

.user-avatar-cover {
    display: inline-block;
    overflow: hidden;
    border: 4px solid #fff;
    border-radius: 8px;
}

.user-avatar img {
    width: 160px;
    height: 160px;
    border-radius: 4px;
}

.userBase-info-top {
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
}

.user-nick {
    width: auto;
    max-width: 100%;
    margin-top: 10px;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    color: #262626;
}

.user-gender {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.user-gender-male {
    background-color: #fff;
    color: #4ebbf9;
}

.user-gender-female {
    background-color: #fff;
    color: #dd5044;
}

.userBase-info-sign p {
    font-size: 16px;
}

.handle-btn-wrap {
    margin-bottom: 15px;
}

.user-main-tab, .tab-content {
    background-color: #fff;
}

.select-area {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.pub-tab-top .pub-tab-title {
    line-height: 40px;
    margin: 0 0 -5px 15px;
    padding-top: 10px;
    font-weight: 700;
    color: #333;
}

.pub-show-list .pub-show-item {
    border: none;
}

.pub-show-list .pub-show-item .pub-show-tips {
    margin-bottom: 10px;
    color: #8590a6;
}

.pub-show-content {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pub-show-content .pub-show-content-img {
    margin-right: 10px;
}

.pub-show-content .pub-show-content-img img {
    width: 60px;
    height: 60px;
}

.pub-show-content .pub-show-content-txt {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pub-show-content .pub-show-content-txt h3 {
    font-weight: 700;
    color: #000;
}

.pub-show-list .pub-show-item .line {
    width: 100%;
    height: 1px;
    margin-bottom: 20px;
    background-color: #f0f2f7;
}

.follow-card {
    background-color: #fff;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.my-follow, .my-fans {
    text-align: center;
    padding: 12px 12px 6px;
}

.my-follow a, .my-fans a {
    font-size: 14px;
    color: #8590a6;
    text-decoration: none;
}

.my-follow a:hover, .my-fans a:hover {
    color: #175199;
}

.my-follow-line {
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 40px;
    margin-top: 15px;
    background-color: #ddd;
}

.pub-f-num {
    margin-top: 6px;
    color: #262626;
    font-size: 18px;
    font-weight: 500;
}

.follow-list {
    background-color: #fff;
    margin: 10px 0;
}

.follow-list li {
    border-left: none;
    border-right: none;
    background-color: transparent;
    padding: 15px 10px;
    cursor: pointer;
}

.follow-list li:hover {
    background-color: #eaeaea;
}

.muteOrReport-wrap a, .visit-wrap {
    color: #8590a6;
}
